@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
}

.todo-component {
  margin-top: 50px;
}

#priority label {
  padding-right: 20px;
}

